<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='geek.jpg') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!-- Header avec Stats en temps réel -->
        <header>
            <div class="header-content">
                <div class="title-section">
                    <h1>⚡Check System</h1>
                    <p class="subtitle">Monitorng et Administration Système</p>
                </div>
                <div class="quick-stats" id="quickStats">
                    <div class="stat-item">
                        <span class="stat-icon">⚙️</span>
                        <span class="stat-value" id="cpuQuick">--</span>
                        <span class="stat-label">CPU</span>
                    </div>
                    <div class="stat-item">
                        <span class="stat-icon">🏎️​​</span>
                        <span class="stat-value" id="ramQuick">--</span>
                        <span class="stat-label">RAM</span>
                    </div>
                    <div class="stat-item">
                        <span class="stat-icon">💽​</span>
                        <span class="stat-value" id="diskQuick">--</span>
                        <span class="stat-label">Disque</span>
                    </div>
                </div>
            </div>
        </header>
        <!-- Mode toggle -->
        <div class="view-toggle">
            <button class="toggle-btn active" onclick="switchView('commands')" id="btnCommands">
                ​⌨️​ Commande
            </button>

            <button class="toggle-btn" onclick="switchView('live')" id="btnLive">
                📊​ Monitoring Live
            </button>
        </div>
        <!-- Vue Monitoring live -->
        <div id="liveView" style="display: none">
            <h2>Live</h2>
        </div>
        <!-- Vue Commande -->
        <div id="commandsView">
            <h2>Commandes</h2>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>